[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["standard"], version = "*"}
google-auth = "*"
requests = "*"
itsdangerous = "*"
flask = "*"
flask-cors = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
